@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@media (max-width: 1500px) {
    body{
        background-image: url(https://gas-kvas.com/uploads/posts/2023-02/1675435046_gas-kvas-com-p-kosmos-fonovii-risunok-3.jpg);
    }
}

body {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 400;
    word-spacing: 4px;
    /* background-color: #f1f1f1;*/
    color: #0c0724;
}

.container {
    max-width: 850px;
    margin: auto;
    padding-top: 20px;
}

.info-text {
    margin-left: 40px;
}

p {
    color: aqua;
}

h1 {
    color: rgb(231, 29, 29);
}

h3 {
    color: rgb(231, 29, 29);; 
}

h4 {
    color: aqua;
}

strong {
    color: rgb(231, 29, 29);;
}

li {
    color: aqua;
}

th {
    color: rgb(231, 29, 29);
}

td {
    color: aqua;
}

.form {
    color: aqua;
}

.form input {
    background: none;
}

.form textarea {
    background: none;
}

.form ::placeholder {
    color: rgb(236, 183, 132);
}

.red {
    /*background-color: rgb(240, 194, 194);*/
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
}

.green {
    /*background-color: rgb(191, 236, 191);*/
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.yellow {
    /*background-color: rgb(241, 241, 177);*/
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.avatar {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(231, 127, 29);
    padding: 5px 10px;
    color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
    color: aqua;
}

a {
    color: rgb(231, 127, 29);
    text-decoration: none;
}

a:hover {
    color: orangered;
}

a:visited {
    color: red;
}

a:active {
    color: aqua;
}    

.table {
    width: 100%;
}
    
/*.table tr:nth-child(odd){
    background: #beee97;
}*/


/*.table td:hover {
    background: rgb(207, 87, 87);
}*/